/*
 Theme Name: Astra Child
 Theme URI: http://example.com/
 Description: Astra Child Theme
 Author: Your Name
 Template: astra
 Version: 1.0.0
*/


body {
    background-color: #F4F4F4 !important;;

}

.ast-seperate-container {
    background-color: #F4F4F4 !important;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

